//- Uses the main layout to render page
extends layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/product.css")

block content
  main
    //- Check if there is any product
    if products.length > 0
      .grid
        //- Loop in each product
        each product in products
          article.card.product-item
            header.card__header
              h1.product__title #{product.title}
            div.card__image
              - var url = product.imageUrl
              - var imageName = product.title
              img(src=url alt=imageName)
            div.card__content
              h2.product__price $#{product.price}
              p.product__description #{product.description}
            div.card__actions
              - var productId = product.id
              a.btn(href="/admin/edit-product/"+productId) Edit
           
              button.btn Delete
    else
      h1 Add a new product! 